.navbar{
  display: flex;
  justify-content: space-between;
}
.rightnav{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-right: 10px;
}
.logo,.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(228, 228, 100);
  border-radius: 5px;
  color: black;  
  
}

